*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Helvetica Neue", Helvetica,
}

.banner{
    height: 150px;
    width: 100%;
    background-image: url(../img/dannie.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.div1{
    position: relative;
}
.direccion{
    position: absolute;
    top: 70px;
    left: 150px;
}
.direccion h2{
    margin-bottom: 10px;
    top: 10px;
    text-align: center;
}

.telefono{
    position: absolute;
    top: 150px;
    left: 150px;
}
.telefono h2{
    text-align: center;
    margin-bottom: 10px;
}

.horarios{
    position: absolute;
    top: 250px;
    left: 140px;
}

.title-table{
    padding-bottom: 20px;
}

.espacio{
    padding-left: 20px;
    padding-right: 20px;
}




.formulario{
    position: absolute;
    top: 200px;
    left: 700px;
}
.formulario h2{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #af477b;
    padding-bottom: 10px;
}
.formulario label{
    margin-bottom: 20px;
    font-size: 20px;
}
.formulario input{
    margin-bottom: 20px;
    width: 500px;
    height: 30px;
}
.formulario textarea {
    width: 500px;
}
button{
    background-color: #af477b;
    height: 30px;
    width: 150px;
    border: 1px solid #d8509b;
    border-radius: 5px;
}
button:active{
    background-size: 200%;
    transform: scale(1.1);

}